.compare-products__item
	.compare-top
		img.compare-product__img
		a(href='#').compare-product__link Набор мисок Nest 9, 9 шт, серия Фродо Бегинс, Мордор
	.compare-bottom
		table.compare-table
			thead
				tr
					th 4 300 &#8381;
			tbody
				tr
					td Великобритания
				tr
					td Подарочная
				tr
					td Пластик
				tr
					td 14.5 см
				tr
					td 9
				tr
					td есть
				tr
					td 9л.
				tr
					td есть