$yellow: #f9c869;
$blue: #66c7cd;
$red: #f86868;

body {
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.75;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: relative;
}
.h1, .h2, .h3, .h4, .h5, .h6{
	text-transform: uppercase;
	line-height: 1.4;
}
.btn{
	display: inline-block;
	border:none;
	color: #fff;
	text-decoration: none;
	background-color: $yellow;
	padding: 15px 45px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 2px;
	text-align: center;
	position: relative;
	transition: background-color .1s ease;
	&:hover{
		background-color: lighten($yellow, 5%);
	}
	&:active{
		background-color: darken($yellow, 5%);
	}
}
@import 'common/greating';
@import 'common/header';
