- var item = ["One", "Two", "Three", "Four"]
- var pageTitle = 'Сравнение товаров'
- var menu = ['Shop', 'About us', 'Our work']

section.parallax-wrapper
	.scene
		.parallax.clouds(data-offset='90')
		.parallax.trees(data-offset='30')
		.parallax.grass(data-offset='20')
		.parallax.buildings(data-offset='50')
		.ground
		.sun
	nav.nav
		ul.navigation
			each item in menu
				li.navigation__item
					a.navigation__link #{item}

	a.btn-down
		i.fa.fa-angle-double-down

section.content

//- .section
//- 	a.menu-info(href='' data-tooltip='enter E-mail') hover me





//- section.compare-table
//- 	.container
//- 		h1.g-page-title= pageTitle
//- 		.compare-content
//- 			.compare-info
//- 				.compare-top
//- 				.compare-bottom
//- 					table.compare-table.compare-table--info
//- 						thead
//- 							tr
//- 								th Стоимость
//- 						tbody
//- 							tr
//- 								td Страна
//- 							tr
//- 								td Упаковка
//- 							tr
//- 								td Материал
//- 							tr
//- 								td Высота
//- 							tr
//- 								td Прадметов
//- 							tr
//- 								td Крушка
//- 							tr
//- 								td Объем
//- 							tr
//- 								td Ручки

//- 			.compare-products
//- 				.js-compare-products
//- 					include products/_product1
//- 					include products/_product1
//- 					include products/_product1
//- 					include products/_product1
//- 					include products/_product1
//- 					include products/_product1

