section.galery.inverse.section-overley(style='background-image: url(assets/img/bggalery.jpg)')
	.container
		.row
			.col-md-5
				h2.h2 королевский салон
				p Nefco встречает своих посетелей современным дизайном и уютной атмосферой: огромное светлое пространство, изящная мебель, мягкие бархатные кресла. Это отличное место для того, чтобы посвятить пару часов только себе!
				p Клиентам здась предложат экстроординарный ассортимент туристических направлений и качественный кол-сервис, а студнетов порадуют возможностью отправиться на коникулы.
			.col-md-7
				.section-gallery