- var menu = ['Туристический сервис', 'Санаторный сервис', 'Не санаторный сервис', 'Горящие', 'Авио', 'Авто', 'Круизы', 'Услуги', 'Визы', 'Контакты']

header.header(style='background-image: url(assets/img/bgbig.jpg)')
	div.header-top-line
		a.logo(href='#')
			img.logo-img(src='assets/img/logo.png' alt='logo')
		div.phone 
			i.fa.fa-mobile.phone-icon
			p.phone-number +375 (29) 123-45-67
		a.menu-link(href='#')
			span
	div.menu
		ul.menu-list
			each item in menu
				li.menu-list-item
					a.menu-list-item--link(href='#')= item
	div.header-info
		div.main-info
			div.container
				div.row
					div.col-sm-7
						div.main-info-composition
							div.welcome
								p.welcome-text
									span Добро пожаловать в лучшее
								h1.h1.welcome-text-h1 тур агентство
								i.fa.fa-star.left-star
								strong.city в минске
								i.fa.fa-star.right-star
							p.big-descr Nefco - это туристическое агентство безнес классаю Агенты салона дарят клиентам уверенность в себе и индивидуальные путевкию Здесь представленны все самые востребованные курорты в туристическом бизнесе.
							a.btn.btn-main(href='#') о агентстве


