header.header(style='background-image: url(assets/img/bgbig.jpg)')
	div.header-top-line
		a.logo(href='#')
			img.logo-img(src='assets/img/logo.png' alt='logo')
		div.phone 
			i.fa.fa-mobile.phone-icon
			p.phone-number +375 (29) 123-45-67
		a.menu-link(href='#')
			span
