section.services
	div.owl-carousel.services-carousel
		div.services-carousel-item Lorem ipsum dolor sit amet.
		div.services-carousel-item Lorem ipsum dolor sit amet.
		div.services-carousel-item Lorem ipsum dolor sit amet.
		div.services-carousel-item Lorem ipsum dolor sit amet.
		div.services-carousel-item Lorem ipsum dolor sit amet.
		div.services-carousel-item Lorem ipsum dolor sit amet.