section.services
	div.owl-carousel.services-carousel
		div.services-carousel-item
			div.services-carousel-content
				div.carousel-logo
					img(src='assets/img/logo.png', alt="лого")
				h3.h3 горячие туры
				ul.services-carousel-list
					li.services-carousel-list-item Страна #1 - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Страна #2 - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Страна #3 - 
						strong 8500
							i.fa.fa-rub
				a.btn.btn-carousel(hfer='') все усуги
			div.services-carousel-image(style='background-image: url(assets/img/hottur.jpg)')
		div.services-carousel-item
			div.services-carousel-content
				div.carousel-logo
					img(src='assets/img/logo.png', alt="лого")
				h3.h3 средние туры
				ul.services-carousel-list
					li.services-carousel-list-item Страна #1 - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Страна #2 - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Страна #3 - 
						strong 8500
							i.fa.fa-rub
				a.btn.btn-carousel(hfer='') все усуги
			div.services-carousel-image(style='background-image: url(assets/img/middletur.jpg)')
		div.services-carousel-item
			div.services-carousel-content
				div.carousel-logo
					img(src='assets/img/logo.png', alt="лого")
				h3.h3 холодные туры
				ul.services-carousel-list
					li.services-carousel-list-item Страна #1 - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Страна #2 - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Страна #3 - 
						strong 8500
							i.fa.fa-rub
				a.btn.btn-carousel(hfer='') все усуги
			div.services-carousel-image(style='background-image: url(assets/img/coldtur.jpg)')