section.services
	.owl-carousel.services-carousel
		.services-carousel-item
			.services-carousel-content
				.carousel-logo
					img(src='assets/img/logo.png', alt="лого")
				h3.h3 горячие туры
				ul.services-carousel-list
					li.services-carousel-list-item Испания - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Италия - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Греция - 
						strong 8500
							i.fa.fa-rub
				a.btn.btn-carousel(hfer='') все усуги
			.services-carousel-image(style='background-image: url(assets/img/hottur.jpg)')
		.services-carousel-item
			.services-carousel-content
				.carousel-logo
					img(src='assets/img/logo.png', alt="лого")
				h3.h3 средние туры
				ul.services-carousel-list
					li.services-carousel-list-item Литва - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Германия - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Австрия - 
						strong 8500
							i.fa.fa-rub
				a.btn.btn-carousel(hfer='') все усуги
			.services-carousel-image(style='background-image: url(assets/img/middletur.jpg)')
		.services-carousel-item
			.services-carousel-content
				.carousel-logo
					img(src='assets/img/logo.png', alt="лого")
				h3.h3 холодные туры
				ul.services-carousel-list
					li.services-carousel-list-item Эстония - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Норвегия - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Финляндия - 
						strong 8500
							i.fa.fa-rub
				a.btn.btn-carousel(hfer='') все усуги
			.services-carousel-image(style='background-image: url(assets/img/coldtur.jpg)')
		.services-carousel-item
			.services-carousel-content
				.carousel-logo
					img(src='assets/img/logo.png', alt="лого")
				h3.h3 средние туры
				ul.services-carousel-list
					li.services-carousel-list-item Литва - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Германия - 
						strong 8500
							i.fa.fa-rub
					li.services-carousel-list-item Австрия - 
						strong 8500
							i.fa.fa-rub
				a.btn.btn-carousel(hfer='') все усуги
			.services-carousel-image(style='background-image: url(assets/img/middletur.jpg)')