- var partnersHeader = 'наши партнеры'

section.partners.section-overlay-white(style='background-image: url(assets/img/bgpartners.jpg)')
	.container
		.row
			.col-sm-12
				h2.h2.text-center #{partnersHeader}
			.col-sm-10.col-sm-offset-1
				.owl-carousel.carousel-partners
					.partner
						.partner-1(src="", alt="partner-1")
					.partner
						.partner-2(src="", alt="partner-2")
					.partner
						.partner-3(src="", alt="partner-3")
					.partner
						.partner-4(src="", alt="partner-4")
					.partner
						.partner-5(src="", alt="partner-5")
