section.review.inverse.section-overlay(style='background-image: url(/assets/img/bgreview.jpg)')
	.container
		.row
			.col-sm-12
				h2.h2.text-center отзывы наших клиентов
			.col-sm-8.col-sm-offset-2
				.quotes
				.owl-carousel.carousel-reviews
					.carousel-reviews-item
						p.review-header Оксана
						.review-date 29.07.2017 (Горячий тур)
						.review-stars
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
						p.review-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, neque. Incidunt obcaecati fugit sint ea, impedit veniam ipsa libero numquam reiciendis a quidem, sit error, suscipit nam. Aliquam doloremque, fuga, exercitationem similique atque ullam. Earum aliquam deleniti repellendus rem inventore ipsam. Perferendis atque voluptatem eos magnam dicta illo, quia mollitia.
					.carousel-reviews-item
						p.review-header Аня
						.review-date 29.07.2017 (Горяий тур)
						.review-stars
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
						p.review-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, neque. Incidunt obcaecati fugit sint ea, impedit veniam ipsa libero numquam reiciendis a quidem, sit error, suscipit nam. Aliquam doloremque, fuga, exercitationem similique atque ullam.