.prostore-carousel-container
	.owl-carousel.prostore-carousel-shop
		img(src='assets/img/prostore-banner-2.jpg').prostore-carousel-shop-item
		img(src='assets/img/prostore-banner-2.jpg').prostore-carousel-shop-item
		img(src='assets/img/prostore-banner-2.jpg').prostore-carousel-shop-item
		img(src='assets/img/prostore-banner-2.jpg').prostore-carousel-shop-item
		img(src='assets/img/prostore-banner-2.jpg').prostore-carousel-shop-item
		img(src='assets/img/prostore-banner-2.jpg').prostore-carousel-shop-item
		img(src='assets/img/prostore-banner-2.jpg').prostore-carousel-shop-item