section.prostore-carousel
	.prostore-carousel-container
		.owl-carousel.prostore-carousel-shop
			img(src='assets/img/prostore-carouse1.jpg').prostore-carousel-shop-item
			img(src='assets/img/prostore-carouse2.jpg').prostore-carousel-shop-item
			img(src='assets/img/prostore-carouse1.jpg').prostore-carousel-shop-item
			img(src='assets/img/prostore-carouse1.jpg').prostore-carousel-shop-item
			img(src='assets/img/prostore-carouse1.jpg').prostore-carousel-shop-item

section.test
	+nav('navigation', ['Main', 'News', 'About', 'Compare'], 0)