section.test
	mixin nav
		nav.nav
			.container
				ul.nav__list
					li.nav__item
						a.nav__link(href='#') Главная
					li.nav__item
						a.nav__link(href='#') Новости
					li.nav__item
						a.nav__link(href='#') О компании
					li.nav__item
						a.nav__link(href='#') Сравнение
					li.nav__item
						a.nav__link(href='#') Корзина

	+nav