@mixin tooltip($tooltipPos, $color, $backgroundColor, $borderRadius, $transition, $offset, $triangleWidth, $triangleHeight, $direction) {
    position: relative;
    cursor: pointer;
    &:hover {
        &:before,
        &:after{
          opacity: 1;
        }
    }
    &:before,
    &:after{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        opacity: 0;

        transition: opacity $transition;
    }
    &:before {
        content: attr(data-tooltip);

        color: $color;
        background-color: $backgroundColor;
				
				@if $tooltipPos=='t'{
					bottom: $offset;
				}
				@if $tooltipPos=='b'{
					top: $offset;
				}
				@if $tooltipPos=='r'{
					left: $offset;
				}
				@if $tooltipPos=='l'{
					right: $offset;
				}

        padding: 5px 10px;
        border-radius: $borderRadius;

        white-space: nowrap;
        text-transform: lowercase;
    }
    &:after{
    	content: '';
    	width: 0;
    	height: 0;
			opacity: 0;
    	position: absolute;
    	border-style: solid;
    	transition: opacity $transition;
    	@if $direction=='t'{
    		border-width: 0 $triangleWidth / 2 + px $triangleHeight + px $triangleWidth / 2 + px;
    		border-color: transparent transparent $backgroundColor transparent;
    		top: $offset - 9px;
    	}
    	@if $direction=='b'{
    		border-width: $triangleHeight + px $triangleWidth / 2 + px 0 $triangleWidth / 2 + px;
				border-color: $backgroundColor transparent transparent transparent;
				bottom: $offset - 9px;
    	}
    	@if $direction=='l'{
    		border-width: $triangleHeight / 2 + px $triangleWidth + px $triangleHeight / 2 + px 0;
        border-color: transparent $backgroundColor transparent transparent;
        left: $offset - 9px;
    	}
    }
}




.compare-header{
	height: 200px;
}
.section{
	min-width: 320px;
	width: 95%;
	margin: 0 auto;
	background-color: lightgrey;
	text-align: center;
}

.menu-info{
	display: inline-block;
	margin: 0 auto;
	@include tooltip(t, red, black, 3px, .5s, 35px, 9, 9 , b);
}

.compare-table{
	padding: 5% 0;
}
.compare-content{
	display: flex;
	.compare-info{
		width: 20%;
	}
	.compare-products{
		width: 80%;
	}
}
.compare-top{
	height: 250px;
}
.js-compare-products{
	display: flex;
	overflow-x: scroll;
}
.test-pug{
	padding: 5%;
	background-color: lightgrey;
}