// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$paper-plane-name: 'paper-plane';
$paper-plane-x: 0px;
$paper-plane-y: 0px;
$paper-plane-offset-x: 0px;
$paper-plane-offset-y: 0px;
$paper-plane-width: 64px;
$paper-plane-height: 64px;
$paper-plane-total-width: 512px;
$paper-plane-total-height: 960px;
$paper-plane-image: '../img/sprite.png';
$paper-plane: (0px, 0px, 0px, 0px, 64px, 64px, 512px, 960px, '../img/sprite.png', 'paper-plane', );
$paper-plane-2x-name: 'paper-plane@2x';
$paper-plane-2x-x: 0px;
$paper-plane-2x-y: 64px;
$paper-plane-2x-offset-x: 0px;
$paper-plane-2x-offset-y: -64px;
$paper-plane-2x-width: 128px;
$paper-plane-2x-height: 128px;
$paper-plane-2x-total-width: 512px;
$paper-plane-2x-total-height: 960px;
$paper-plane-2x-image: '../img/sprite.png';
$paper-plane-2x: (0px, 64px, 0px, -64px, 128px, 128px, 512px, 960px, '../img/sprite.png', 'paper-plane@2x', );
$puzzle-name: 'puzzle';
$puzzle-x: 0px;
$puzzle-y: 192px;
$puzzle-offset-x: 0px;
$puzzle-offset-y: -192px;
$puzzle-width: 256px;
$puzzle-height: 256px;
$puzzle-total-width: 512px;
$puzzle-total-height: 960px;
$puzzle-image: '../img/sprite.png';
$puzzle: (0px, 192px, 0px, -192px, 256px, 256px, 512px, 960px, '../img/sprite.png', 'puzzle', );
$puzzle-2x-name: 'puzzle@2x';
$puzzle-2x-x: 0px;
$puzzle-2x-y: 448px;
$puzzle-2x-offset-x: 0px;
$puzzle-2x-offset-y: -448px;
$puzzle-2x-width: 512px;
$puzzle-2x-height: 512px;
$puzzle-2x-total-width: 512px;
$puzzle-2x-total-height: 960px;
$puzzle-2x-image: '../img/sprite.png';
$puzzle-2x: (0px, 448px, 0px, -448px, 512px, 512px, 512px, 960px, '../img/sprite.png', 'puzzle@2x', );
$spritesheet-width: 512px;
$spritesheet-height: 960px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($paper-plane, $paper-plane-2x, $puzzle, $puzzle-2x, );
$spritesheet: (512px, 960px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
