extends ../_template

block variables
  - var title = 'Home page'

block content
  include ../common/_header
  include ../common/_main-carousel
  include ../common/_gallery
  include ../common/_call-back
  include ../common/_review
  include ../common/_partners
  include ../common/_footer
  //- include ../common/_greating